<div id="wrapper" ng-swipe-left="selectNextQuestion()" ng-swipe-right="selectPrevQuestion()">
    <div id="floatingHeader" class="shadowed">
        <div id="menuHamburger" class="pointer" ng-click="">
            <svg width="25" height="20">
                <g fill="none" stroke="white" stroke-width="4">
                    <path stroke-linecap="round" d="M2 2 l21 0" />
                    <path stroke-linecap="round" d="M2 10 l21 0" />
                    <path stroke-linecap="round" d="M2 18 l21 0" />
                </g>
            </svg>
        </div>

        <div id="results">Results</div>
    </div>
    <div id="questionDots">
        <div id="questionDot" class="shadowed pointer" ng-class="{'selected' : currentQuestion == $index}" ng-click="selectQuestion($index)" ng-repeat="questions in receivedQuestions"></div>
    </div>


    <div id="question" class="card shadowed" ng-class="{'readOnly' : receivedQuestions[currentQuestion].readOnly}">
        <div id="questionText">{{receivedQuestions[currentQuestion].questionText}}</div>
        <div id="answerList">
            <div class="answer pointer" ng-class="[receivedQuestions[currentQuestion].correct, {'selected':currentAnswer == $index}]" ng-click="selectAnswer($index)" ng-repeat="answer in receivedQuestions[currentQuestion].answers">
                <div id="answerText">{{answer.answerText}}</div>
            </div>
        </div>
    </div>

    <div id="submitButton" class="card pointer" ng-click="sendAnswer()">Submit</div>
</div>
